.l-sidebar {
    background-color: $sidebar-bg;

    &__menu {
        margin: 49px 25px;
        font-family: $en-fonts;
        font-weight: 900;
        font-size: 2.5rem;
        color: $header-color;

    }
}


@include mq() {
    .l-sidebar {
        display: none;
    }
}