.p-contents {
    display: flex;
}

main {
    flex: 1;
}

aside {
    width: 240px;
}

// @include mq(sm) {
//     main {
//         width: 50%;
//     }

//     aside{
//         flex: 1;
//         width: 50%;
//     }
// }